package components

import "github.com/iota-uz/iota-sdk/components/base"

templ SearchableSelect() {
	@base.Combobox(base.ComboboxProps{
		Label:        "Position",
		Placeholder:  "Search position",
		Searchable:   true,
		NotFoundText: "No positions found",
		Name:         "PositionID",
		Endpoint:     "/_dev/api/showcase/combobox-options",
	})
}
